no router bgp {{ bgp_config.asn }}
router bgp {{ bgp_config.asn }}
{% for net in bgp_config.networks %}
 network {{ net.address }} mask {{ net.mask }}
{% endfor %}
{% if bgp_config.neighbors is defined%}
{% for neigh in bgp_config.neighbors %}
 neighbor {{ neigh.neighbor }} remote-as {{ neigh.peer_asn }}
 neighbor {{ neigh.neighbor }} update-source Lo0
 neighbor {{ neigh.neighbor }} ebgp-multihop 2
{%endfor%}
{%endif%}

{% if bgp_config.vedge_neighbor is defined%}
{% for neigh in bgp_config.vedge_neighbor %}
 neighbor {{ neigh.neighbor }} remote-as {{ neigh.peer_asn }}
{%endfor%}
{%endif%}

 bgp router-id {{ bgp_config.rid }}