router ospf {{ ospf_config.pid }}
 router-id {{ ospf_config.rid }}
{% for net in ospf_config.networks %}
 network {{ net }}
{% endfor %}
{% if ospf_config.mpls is defined %}
 mpls ldp autoconfig
{% endif %}